<app-header></app-header>
<div
  class="flex flex-col justify-center items-center w-screen h-screen overflow-y-auto"
>
  <div class="flex relative h-[320px] p-1 -z-10 rounded-sm">
    <img
      class="z-0 object-fill min-w-[100vw] outline-1 outline-blue-400 outline"
      [src]="
        (user_ | async)?.coverPic
          ? 'https://friends-backend.onrender.com/api/user/get/cover?filename=' +
            (user_ | async)?.coverPic
          : 'assets/background.jfif'
      "
      alt="cover pic"
    />
    <img
      class="w-[150px] h-[150px] rounded-full object-cover absolute left-0 right-0 m-auto top-[200px] border-white border-solid border-[3px]"
      [src]="
        (user_ | async)?.profilePic
          ? 'https://friends-backend.onrender.com/api/user/get/profilePic?filename=' +
            (user_ | async)?.profilePic
          : 'assets/user.png'
      "
      alt="avatar"
    />
  </div>
  <div matTooltip="change profile" class="relative left-14 cursor-pointer">
    <label for="profilePic" class="cursor-pointer" for="profilePic">
      <mat-icon class="text-slate-200">edit</mat-icon>
    </label>
    <input
      (change)="updateProfilePic($event)"
      style="display: none"
      id="profilePic"
      type="file"
      accept="image/*"
    />
  </div>
  <div matTooltip="change background" class="relative left-[45%] top-[-70px]">
    <label for="cover" class="cursor-pointer" for="cover">
      <mat-icon class="text-black">edit</mat-icon>
    </label>
    <input
      (change)="updateCoverImg($event)"
      style="display: none"
      id="cover"
      type="file"
      accept="image/*"
    />
  </div>
  <div class="flex relative">
    <p class="text-2xl font-bold">
      {{ (user_ | async)?.fname }} {{ (user_ | async)?.lname }}
    </p>
  </div>

  <!-- posts -->
  <div class="profile_posts flex flex-col flex-grow h-screen md:w-[600px]">
    <div class="flex flex-col" *ngFor="let p of posts_">
      <div class="feed-container p-5 mt-5 rounded-t-2xl shadow-xl">
        <div class="flex items-center space-x-2">
          <img
            class="rounded-full"
            [src]="
              p?.profilePic
                ? 'https://friends-backend.onrender.com/api/user/get/profilePic?filename=' +
                  p?.profilePic
                : 'assets/user.png'
            "
            alt="avatar"
            width="40"
            height="40"
          />
          <div>
            <p class="font-medium">{{ p.fname }} {{ p.lname }}</p>
            <p class="text-xs text-gray-400">
              {{ p.createdAt | timeago }}
            </p>
          </div>
        </div>
        <p *ngIf="p.desc != undefined" class="pt-4">{{ p.desc }}</p>
      </div>
      <!-- if post has image -->
      <div *ngIf="p.image != ''" class="contents h-56 md:h-96 bg-white">
        <img
          class="object-cover"
          src="https://friends-backend.onrender.com/api/posts/get/image?filename={{ p.image }}"
          alt="post"
        />
      </div>
      <!-- footer of post -->
      <div
        class="flex justify-between items-center rounded-b-2xl bg-gray-800 shadow-md text-gray-400 border-t"
      >
        <div
          *ngIf="p.likes.includes(uid_); else non_liked"
          (click)="postService.handleLikes(uid_, p._id)"
          class="input_box_icons rounded-none rounded-b-2xl text-blue-800"
        >
          <mat-icon>thumb_up</mat-icon>
          <p>Like {{ p.likes.length }}</p>
        </div>
        <ng-template #non_liked>
          <div
            (click)="postService.handleLikes(uid_, p._id)"
            class="input_box_icons rounded-none rounded-b-2xl"
          >
            <mat-icon>thumb_up</mat-icon>
            <p>Like {{ p.likes.length }}</p>
          </div>
        </ng-template>
        <div (click)="openCommentBox(p)" class="input_box_icons rounded-none">
          <mat-icon>comment</mat-icon>
          <p>Comment</p>
        </div>
        <div
          *ngIf="(user_ | async)?._id == p.userId; else not_owner"
          (click)="postService.deletePost(uid_, p._id)"
          class="input_box_icons rounded-none rounded-br-2xl hover:text-red-600"
        >
          <mat-icon class="text-red-500">delete</mat-icon>
          <p>Delete</p>
        </div>
        <ng-template #not_owner>
          <div class="input_box_icons rounded-none rounded-br-2xl">
            <mat-icon>share</mat-icon>
            <p>Share</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
